In [1]:
import pandas as pd

# Testing Extract

In [2]:
shampoo_extracted_df = pd.read_hdf('shampoo.extract.h5')

In [3]:
shampoo_extracted_df.shape

(24, 372)

In [4]:
shampoo_extracted_df.head()

,Number of shampoo sales__variance_larger_than_standard_deviation,Number of shampoo sales__has_duplicate_max,Number of shampoo sales__has_duplicate_min,Number of shampoo sales__has_duplicate,Number of shampoo sales__sum_values,Number of shampoo sales__abs_energy,Number of shampoo sales__mean_abs_change,Number of shampoo sales__mean_change,Number of shampoo sales__mean_second_derivative_central,Number of shampoo sales__median,...,Number of shampoo sales__fourier_entropy__bins_5,Number of shampoo sales__fourier_entropy__bins_10,Number of shampoo sales__fourier_entropy__bins_100,Number of shampoo sales__permutation_entropy__dimension_3__tau_1,Number of shampoo sales__permutation_entropy__dimension_4__tau_1,Number of shampoo sales__permutation_entropy__dimension_5__tau_1,Number of shampoo sales__permutation_entropy__dimension_6__tau_1,Number of shampoo sales__permutation_entropy__dimension_7__tau_1,Number of shampoo sales__mean_n_absolute_max__number_of_maxima_7,label
1992-01-01,1.0,0.0,0.0,0.0,2285.8,471896.54,65.327273,4.400000,-1.44,184.50,...,1.351784,1.747868,1.945910,1.557113,2.197225,2.079442,1.94591,1.791759,221.271429,185.9
1992-02-01,1.0,0.0,0.0,0.0,2289.4,472959.98,66.018182,-3.054545,0.95,184.50,...,1.277034,1.475076,1.747868,1.557113,2.197225,2.079442,1.94591,1.791759,221.271429,194.3
1992-03-01,1.0,0.0,0.0,0.0,2316.4,483576.38,65.727273,8.254545,-0.02,189.35,...,1.004242,1.277034,1.945910,1.504788,2.197225,2.079442,1.94591,1.791759,225.128571,149.5
1992-04-01,1.0,0.0,0.0,0.0,2470.4,544036.78,65.927273,8.454545,3.75,193.55,...,1.351784,1.549826,1.945910,1.695743,2.197225,2.079442,1.94591,1.791759,237.614286,210.1
1992-05-01,1.0,0.0,0.0,0.0,2481.5,548162.65,72.300000,2.081818,-7.26,193.55,...,1.351784,1.747868,1.945910,1.748067,2.197225,2.079442,1.94591,1.791759,237.614286,273.3

In [5]:
shampoo_extracted_df['label']

1992-01-01    185.9
1992-02-01    194.3
1992-03-01    149.5
1992-04-01    210.1
1992-05-01    273.3
1992-06-01    191.4
1992-07-01    287.0
1992-08-01    226.0
1992-09-01    303.6
1992-10-01    289.9
1992-11-01    421.6
1992-12-01    264.5
1993-01-01    342.3
1993-02-01    339.7
1993-03-01    440.4
1993-04-01    315.9
1993-05-01    439.3
1993-06-01    401.3
1993-07-01    437.4
1993-08-01    575.5
1993-09-01    407.6
1993-10-01    682.0
1993-11-01    475.3
1993-12-01    581.3
Name: label, dtype: float64

In [6]:
shampoo_stats_df = shampoo_extracted_df.describe()

In [7]:
shampoo_stats_df.loc['std',shampoo_stats_df.loc['std'] != 0].count()

289

In [8]:
shampoo_stats_df.loc['std',shampoo_stats_df.loc['std'] != 0]

Number of shampoo sales__sum_values                                   1088.710848
Number of shampoo sales__abs_energy                                 737477.497951
Number of shampoo sales__mean_abs_change                                17.749584
Number of shampoo sales__mean_change                                     8.567886
Number of shampoo sales__mean_second_derivative_central                  8.320532
                                                                        ...
Number of shampoo sales__permutation_entropy__dimension_5__tau_1         0.169478
Number of shampoo sales__permutation_entropy__dimension_6__tau_1         0.120393
Number of shampoo sales__permutation_entropy__dimension_7__tau_1         0.065232
Number of shampoo sales__mean_n_absolute_max__number_of_maxima_7       102.443528
label                                                                  138.440528
Name: std, Length: 289, dtype: float64

# Testing subselect

In [21]:
shampoo_subselect_train_df = pd.read_hdf('shampoo.subselect.h5','select/train')
shampoo_subselect_test_df = pd.read_hdf('shampoo.subselect.h5','select/test')

In [22]:
shampoo_subselect_train_df.index

DatetimeIndex(['1992-01-01', '1992-02-01', '1992-03-01', '1992-04-01',
               '1992-05-01', '1992-06-01', '1992-07-01', '1992-08-01',
               '1992-09-01', '1992-10-01', '1992-11-01', '1992-12-01',
               '1993-01-01', '1993-02-01', '1993-03-01', '1993-04-01',
               '1993-05-01', '1993-06-01'],
              dtype='datetime64[ns]', freq=None)

In [23]:
shampoo_subselect_test_df.index

DatetimeIndex(['1993-07-01', '1993-08-01', '1993-09-01', '1993-10-01',
               '1993-11-01', '1993-12-01'],
              dtype='datetime64[ns]', freq=None)